<h1>Threats</h1>


<ul>
    {{#each people}}
    <li>

        <h3><span class="label">Name:</span> {{this.person_name}}</h3>
        <p><span class="label">City:</span> {{this.city_name}}</p>
        <p><span class="label">Age:</span> {{this.age}}</p>
        <button data-id="{{this.id}}" class="deletePerson">Eliminate</button>
        <a href="/{{this.id}}">Update this person</a>

    </li>
    {{/each}}
</ul>
<button id="testBtn" style="float:right">Test this</button>
<img style="height:200px; width:200px" id="insert-image">

<form class="createPerson">
    <div class="form-group">
        <label for="person_name">Name:</label>
        <input type="text" id="person_name" name="person_name">
    </div>

    <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age">
    </div>

    <div class="form-group">
        <label for="isThreat">Is a threat:</label>
        <input type="text" id="isThreat" name="isThreat">
    </div>
    
    <div class="form-group">
        <label for="city_name">City:</label>
        <input type="text" id="city_name" name="city_name">
    </div>
    <div>
        <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
        <p><label for="file" style="cursor: pointer;">Upload Image</label></p>
        <img id="output" width="200" />	
        {{!-- <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"> --}}

    </div>
    <input type="file"  accept="image/gif, image/jpeg, image/png" name="image" id="file" style="display: none;">
    <p><label for="file" style="cursor: pointer;">Upload Image</label></p>

    <button type="submit">Add Person</button>

</form>

<script>
    var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
    $.post( "/api/image", function( data ) {
        console.log( data );
        
    });
};

    var testBtn = document.getElementById("testBtn");
    testBtn.addEventListener("click", function(){
        var img = document.getElementById("insert-image");
        $.get("/api/image", function(data){
           // console.log(data)
           img.setAttribute("src", data[0].src);
        })
    })

    $(function () {
        $(".deletePerson").on("click", function (event) {
            var id = $(this).data("id");

            $.ajax("/api/people/" + id, {
                type: "DELETE",
            }).then(function () {
                console.log(`delete id ${id}`);
                location.reload();
            });
        });

        $(".createPerson").on("submit", function (event) {
            // Make sure to preventDefault on a submit event.
            event.preventDefault();

            var person = {
                person_name: $("#person_name").val().trim(),
                age: $("#age").val().trim(),
                isThreat: $("#isThreat").val().trim(),
                city_name: $("#city_name").val().trim(),
            };

            // Send the POST request.
           $.post("/api/people", person, function(data){
               console.log(data);
               location.reload();
           });
        });
        
    });

</script>