<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="responsive-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="responsive-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Threat Analysis</li>
      {{!-- <li class="has-submenu">
        <a href="#0">One</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="#0">One</a></li>
          <li><a href="#0">Two</a></li>
          <li><a href="#0">Three</a></li>
        </ul>
      </li> --}}
      <li><a href="/api/people">People</a></li>
      <li><a href="#0">Add a person</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Search"></li>
      <li><button type="button" class="button">Search</button></li>
    </ul>
  </div>
</div>
<h1>Threats</h1>

<ul class="tabs" data-tabs id="example-tabs">
  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Tab 1</a></li>
  <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Tab 2</a></li>
  <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Tab 3</a></li>
</ul>
<div class="tabs-content" data-tabs-content="example-tabs">
  <div class="tabs-panel is-active" id="panel1">
    <a target="_blank" href="https://note-taker-to-the-max.herokuapp.com/notes">Take Notes here it's fun and free</a>
  </div>
  <div class="tabs-panel" id="panel2">
    <a href="https://yum-yum-burgers.herokuapp.com/" target="_blank">Keep track of your burgers... real fucking useful</a>
  </div>
  <div class="tabs-panel" id="panel3">
    <img src="https://loremflickr.com/cache/resized/65535_50001660108_922f0950ea_400_200_nofilter.jpg" />
  </div>
</div>
  <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
    <h1>Tester Stuff</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a target="_blank" href="/api/people">API people</a></li>
        <li>Test1</li>
        <li>Test1</li>
    </ul>
  </div>
  <div class="off-canvas-content" data-off-canvas-content>
    
<ul>
    {{#each people}}
    <li>

        <h3><span class="label">Name:</span><h3 data-id="{{this.id}}">{{this.person_name}}</h3> <input type='text' class='show{{this.id}} edit edit-name{{this.id}}' style='display: none;'><button class="changeBtn{{this.id}} changeBtn button tiny" style="display:none">Change</button></h3>
        <h3><span class="label">City:</span> <h3>{{this.city_name}}</h3><input type='text' class='show{{this.id}} edit edit-city{{this.id}}' style='display: none;'><button class="changeBtn{{this.id}} changeCity button tiny" style="display:none">Change</button></h3>
        <h3><span class="label">Age:</span> <h3>{{this.age}}</h3><input type='text' class='show{{this.id}} edit edit-age{{this.id}}' style='display: none;'><button class="changeBtn{{this.id}} changeAge button tiny" style="display:none">Change</button></h3>
        <button data-id="{{this.id}}" class="button deletePerson">Eliminate</button>
        <button class="update-person button" data-id="{{this.id}}">Update this person</button>
    </li>
    {{/each}}
</ul>
<button class="button tiny" id="testBtn" style="float:right">Test this</button>
<img style="height:200px; width:200px; display:none" id="insert-image">

<form class="createPerson">
    <div class="form-group">
        <label for="person_name">Name:</label>
        <input type="text" id="person_name" name="person_name">
    </div>

    <div class="form-group">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age">
    </div>

    <div class="form-group">
        <label for="isThreat">Is a threat:</label>
        <input type="text" id="isThreat" name="isThreat">
    </div>
    
    <div class="form-group">
        <label for="city_name">City:</label>
        <input type="text" id="city_name" name="city_name">
    </div>
    <div id="0">
        <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
        <p><label for="file" style="cursor: pointer;width:fit-content">Upload Image</label></p>
        <img id="output" width="200" />	
        {{!-- <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;"> --}}

    </div>
    {{!-- <input type="file"  accept="image/gif, image/jpeg, image/png" name="image" id="file" style="display: none;">
    <p><label for="file" style="cursor: pointer;">Upload Image</label></p> --}}

    <button class="button" type="submit">Add Person</button>
    <button type="button" class="button" data-toggle="offCanvas">Open Menu</button>

</form>
  </div>



